*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}
.left-side{
    width: 30rem;
    min-width: 25rem;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    user-select: none; 
}
.odin-Logo{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.1rem;
    width: 100%;
    justify-content: center;  
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 2rem;
    padding-bottom: 2rem;
    top: 30%;
    transform: translateY(-30%);
}
.logo{
    width: 5rem;
    height: auto;
}
.odin{
    font-family: 'Syne Tactile', sans-serif;
    font-size:  4.8rem;
}
.right-side{
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
     min-height: 100vh;
     flex: 1;
}
.L-img{
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.L-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}
.left-text{
    position: relative;
    z-index: 2;
    color: white;
    margin-bottom: 1.5rem;
    font-size: 1.05rem;
    font-family: 'Oswalf', sans-serif;
    margin-top: auto;
}
.first-portion{
    display: flex;
    flex-direction: column;
    width: auto;
    padding-left: 4rem;
    font-size: 1.2rem;
    word-spacing: 0.15rem;
}
.second-portion{
    display: flex;
    flex-direction: column;
    width: auto;
    padding-left: 4rem;
}
.form-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.lines{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.3rem;
}
.first{
    background-color: rgb(245, 250, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.second{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 3rem;
}
.text{
    font-size: 1.5rem;
    font-weight: 350;
    font-style: italic;
    font-family: 'pliant', sans sarief;
    padding-bottom: 2rem;
}
.button{
    width: 16rem;
    height: 3rem;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(190, 68, 37);
}
.btn-text{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    font-size: 1.2rem;
    font-weight: 1000;
}
.log-in{
    color: green;
}
.txt{
    font-size: 1.4rem;
    font-weight: 1000;
    margin-top: 1.5rem;
}
.forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.form{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 4rem;
}
.f1, .f2, .f3{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-wrap: wrap;
}
.one, .two, .three, .four, .five, .six{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    min-width: 20rem;
}
.input{
    min-width: 100%;
    padding: 0.5rem;
    border: 1px solid #666666;
    border-radius: 4px;
}
.input:focus{
    border-color: dodgerblue;
    outline: none;
}
.input:user-invalid{
    border-color: rgb(220, 38, 38);
}